.employee-section .form-label {
    font-size: 1.1vw;
    font-weight: bold;
}

.employee-section .avatar-container {
    margin: 0px 20px 0px 10px;
}

.employee-section .detail-container .update-btn {
    margin-right: 5px;
}

.employee-section .detail-container .assign-btn {
    margin-top: 5px;
}

.employee-section .info-container {
    padding: 15px 0;
}

.add-employee-section .file-submit {
    margin-top: 15px;
}
