.employee-section .form-label {
    font-size: 1.1vw;
    font-weight: bold;
}

.employee-section .avatar-container {
    margin-right: 20px;
}

.employee-section .detail-container .update-btn {
    margin-right: 5px;
}

.employee-section .info-container {
    padding: 10px 0;
}